python-dotenv==1.1.1
black==25.9.0
isort==6.0.1
langchain==0.3.27
langchain-openai==0.3.33
langchain-community==0.3.29
langgraph==0.6.7
langchain-chroma==0.2.6
numexpr==2.12.1
grandalf==0.8
uv==0.8.18

