@page "/"

<PageTitle>Home</PageTitle>

<h1>The ApiResilience Server App is running!</h1>

<p>Go to the <a href="/settings">settings page</a> to configure the API resilience policies and test them out!</p>
