---
# Source: my-nginx-app/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: release-name-my-nginx-app
spec:
  type: ClusterIP
  selector:
    app: my-nginx-app
  ports:
    - port: 80
      targetPort: 80
---
# Source: my-nginx-app/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: release-name-my-nginx-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-nginx-app
  template:
    metadata:
      labels:
        app: my-nginx-app
    spec:
      containers:
        - name: nginx
          image: "nginx:1.27"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "200m"
