---
##
## Configure network
##
- name: Power On Virtual Machine
  community.vmware.vmware_guest:
    hostname: "{{ ova_deployment_hostname }}"
    username: "{{ ova_deployment_username }}"
    password: "{{ ova_deployment_password }}"
    folder: "{{ ova_deployment_folder }}"
    validate_certs: "{{ ova_validate_certs }}"
    name: "{{ inventory_hostname_short | lower }}"
    wait_for_ip_address: false
    state: poweredon
  delegate_to: localhost

- name: Wait host power on
  ansible.builtin.wait_for:
    timeout: 15
  delegate_to: localhost

- name: Get VM information
  community.vmware.vmware_guest_info:
    hostname: "{{ ova_deployment_hostname }}"
    username: "{{ ova_deployment_username }}"
    password: "{{ ova_deployment_password }}"
    datacenter: "{{ ova_deployment_datacenter }}"
    validate_certs: "{{ ova_validate_certs }}"
    name: "{{ inventory_hostname_short | lower }}"
  register: vm_info
  delegate_to: localhost

- name: Power Off Virtual Machine
  community.vmware.vmware_guest:
    hostname: "{{ ova_deployment_hostname }}"
    username: "{{ ova_deployment_username }}"
    password: "{{ ova_deployment_password }}"
    folder: "{{ ova_deployment_folder }}"
    validate_certs: "{{ ova_validate_certs }}"
    name: "{{ inventory_hostname_short | lower }}"
    wait_for_ip_address: false
    state: poweredoff
  delegate_to: localhost

- name: Remove existing NIC
  community.vmware.vmware_guest_network:
    hostname: "{{ ova_deployment_hostname }}"
    username: "{{ ova_deployment_username }}"
    password: "{{ ova_deployment_password }}"
    datacenter: "{{ ova_deployment_datacenter }}"
    validate_certs: "{{ ova_validate_certs }}"
    name: "{{ inventory_hostname }}"
    mac_address: "{{ vm_info.instance.hw_eth0.macaddress }}"
    state: absent
  delegate_to: localhost

- name: Add new NIC
  community.vmware.vmware_guest_network:
    hostname: "{{ ova_deployment_hostname }}"
    username: "{{ ova_deployment_username }}"
    password: "{{ ova_deployment_password }}"
    datacenter: "{{ ova_deployment_datacenter | default(omit) }}"
    validate_certs: "{{ ova_validate_certs }}"
    name: "{{ inventory_hostname_short | lower }}"
    gather_network_info: false
    network_name: "{{ item.name }}"
    mac_address: "{{ item.mac }}"
  delegate_to: localhost
  loop: "{{ networks.nics }}"
