---
## Power on operation is performed after the OVA is deployed.
## This is to allow vapp_properties to be configured before the
## OVA is powered on.
- name: Power On VM
  community.vmware.vmware_guest:
    hostname: "{{ ova_deployment_hostname }}"
    username: "{{ ova_deployment_username }}"
    password: "{{ ova_deployment_password }}"
    folder: "{{ ova_deployment_folder }}"
    validate_certs: "{{ ova_validate_certs }}"
    name: "{{ inventory_hostname_short | lower }}"
    wait_for_ip_address: "{{ ova_wait_for_ip_address }}"
    state: poweredon
  delegate_to: localhost

- name: Get VM information
  community.vmware.vmware_guest_info:
    hostname: "{{ ova_deployment_hostname }}"
    username: "{{ ova_deployment_username }}"
    password: "{{ ova_deployment_password }}"
    datacenter: "{{ ova_deployment_datacenter }}"
    validate_certs: "{{ ova_validate_certs }}"
    name: "{{ inventory_hostname_short | lower }}"
  register: vm_info
  delegate_to: localhost

- name: Print default IP address
  block:
    - name: Print network interface information
      ansible.builtin.debug:
        var: vm_info.instance.hw_eth0

    - name: Print ETH 1 information
      ansible.builtin.debug:
        var: vm_info.instance.hw_eth1
      when: vm_info.instance.hw_eth1 is defined

    - name: Print IPv4 address
      ansible.builtin.debug:
        var: vm_info.instance.ipv4

- name: Print current timestamp
  ansible.builtin.debug:
    msg: "{{ lookup('pipe', 'date +%Y-%m-%d--%H:%M:%S') }}"
