---
##
## Upload and attach Talos ISO to VM
##
- name: Upload and attach Talos ISO to VM
  block:
    - name: Upload Talos ISO to datastore
      community.vmware.vsphere_copy:
        hostname: "{{ ova_deployment_hostname }}"
        username: "{{ ova_deployment_username }}"
        password: "{{ ova_deployment_password }}"
        validate_certs: "{{ ova_validate_certs | default(true) | bool }}"
        src: "{{ talos_iso_path }}"
        datacenter: "{{ ova_deployment_datacenter | default(omit) }}"
        datastore: "{{ hardware.datastore }}"
        path: "/iso/{{ talos_iso_path | basename }}"
      delegate_to: localhost

    - name: Attach an ISO image to a guest VM
      community.vmware.vmware_guest:
        hostname: "{{ ova_deployment_hostname }}"
        username: "{{ ova_deployment_username }}"
        password: "{{ ova_deployment_password }}"
        validate_certs: "{{ ova_validate_certs | default(true) | bool }}"
        folder: "{{ ova_deployment_folder }}"
        name: "{{ inventory_hostname_short | lower }}"
        cdrom:
          - type: iso
            iso_path: "[{{ hardware.datastore }}] /iso/{{ talos_iso_path | basename }}"
            controller_type: ide
            controller_number: 1
            unit_number: 0
            state: present
      delegate_to: localhost
